<ion-card>
  <ion-item>
    <ion-thumbnail item-left>
      <img src="{{member.avatar?member.avatar:'assets/img/avatar.jpg'}}">
    </ion-thumbnail>
    <ion-label item-right>{{member.name}}, {{member.sex}}</ion-label>
  </ion-item>

   <ion-row>
    <ion-col>
      <button ion-button icon-left clear small (click)="chooseMember()">
        <ion-icon name="create"></ion-icon>
        <div>编辑</div>
      </button>
    </ion-col>
    <ion-col>
      <button color="danger" ion-button icon-left clear small (click)="delete()">
        <ion-icon name="close"></ion-icon>
        <div>删除</div>
      </button>
    </ion-col>
  </ion-row>
</ion-card>