<ion-card>
  <ion-item>
    <ion-avatar item-left>
      <img src="{{member.avatar?member.avatar:'assets/icon.png'}}">
    </ion-avatar>
    <ion-label item-right>{{member.name}}, {{member.address}}</ion-label>
  </ion-item>

   <ion-row>
     <ion-col col-6>
      <button ion-button icon-left clear (click)="gotoGithub(member.github)">
        <ion-icon name="md-git-branch"></ion-icon>
        {{member.github}}
      </button>
    </ion-col>
    <ion-col col-3>
      <button ion-button icon-left clear (click)="chooseMember()">
        <ion-icon name="create"></ion-icon>
        <div>编辑</div>
      </button>
    </ion-col>
    <ion-col col-3>
      <button color="danger" ion-button icon-left clear (click)="delete()">
        <ion-icon name="close"></ion-icon>
        <div>删除</div>
      </button>
    </ion-col>
  </ion-row>
</ion-card>